.characteristics-page__all {
    overflow: hidden;
    width: 65%;

    &:after {
        content: "...........................................................................";
        display: block;
        white-space: normal;
        overflow: hidden;
    }

    & h6:first-of-type {
        float: left;
        margin-right: 1rem;
    }

    & span:last-of-type {
        float: right;
        margin-left: 1rem;
        color: blue;
    }
}

.characteristic__title {
    color: #e3e3e3;
    word-wrap: break-word;
}