@import "../../style/vars.scss";

.slide-header {
    padding: 1rem 1.6rem;
    width: 300px;
    background: $black;

    .slide__logo {
        width: 50%;
    }

    .slide-border {
        margin: 0 1.5rem;
        width: 1px;
        height: 1.5rem;
        background: $white;
    }
}

.slide__avatar {
    width: 3.2rem;
    height: 3.2rem;
}
