.error-block {
    position: relative;
    .error__text {
        text-align: center;
        font-size: 1.2rem;
        color: red;
    }

    .error__icon {
        font-size: 1.4rem;
        color: red;
        position: absolute;
        top: 6px;
        right: 10px;
        z-index: 1;
    }
}

